{% extends "blogs/base.html" %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
    </head>
    <body>
    <p>Hello! This is my personal blog! Nice to see you!</p>

    <br>

    <p>Posts:</p>

    <a href="{% url 'blogs:new_post' %}">Add new post:</a>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'blogs:post' post.id %}"><b>{{ post.date_added|date:'M d, Y H:i' }}</b></a>
                <p></p>
                <p>{{ post.text|linebreaks }}</p>
                <p>
                    <a href="{% url 'blogs:edit_entry' post.id %}">Edit post</a>
                </p>
                <p align="left"><b>__________________________________________________</b></p>
                <br>
            </li>
        {% empty %}
            <li>No posts have been added yet</li>
        {% endfor %}
    </ul>

{% endblock content %}
