{% extends 'blogs/base.html' %}

{% block content %}

    <p align="left"><b>_____________</b></p>
    <p>{{ text }}</p>
    <p align="left"><b>_____________</b></p>
    <p>
        <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
    </p>
    <p>Comments:</p>
        <ul>
            {% for entry in entries %}
                <li>
                    <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                    <p>{{ entry.text|linebreaks }}</p>
                </li>
            {% empty %}
                <li>No comments have been added yet</li>
            {% endfor %}
        </ul>

{% endblock content %}
